.corpus {
    position: relative;
    top: 100px;
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 10px 10px 20px black;
    margin-bottom: 110px;
}

.corpus_article {
    position: relative;
    top: 150px;
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 10px 10px 20px black;
    margin-bottom: 150px;
}

@media (max-width: 1024px) {
    .corpus_article {
        width: 100%;
    }
}
.contact-bar {
    margin-top: 50px;
    background-color: darkgray;
    width: 100%;
    height: 20px;
}

.contact-title1 {
    font-size: 70px;
}

.contact-title2 {
    font-size: 35px;
}

.rond {
    position: relative;
    z-index: 98;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    width:100px;
    height:100px;
    background: darkgray;
    border-radius:100px;
}

.article-bar {
    position: relative;
    z-index: 97;
    margin-top: 100px;
    background-color: darkgray;
    width: 100%;
    height: 20px;
}

.art-title2 {
    font-size: 20px;
}

.rond2 {
    position: relative;
    z-index: 98;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;
    width:200px;
    height:200px;
    line-height: 200px;
    text-align: center;
    background: white;
    border: solid 10px darkgray;
    border-radius:100px;
}

.circle {
    margin-top: 50px;
}

.town {
    vertical-align: middle;
    display:inline-block;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
}

.workingc {
    padding: inherit;
    padding: 0px;
    position: relative;
    top: -100px;
    color: black;
    background-color: white;
}

.dyingc {
    padding: inherit;
    padding: 0px;
    position: relative;
    top: -100px;
    z-index: 1;
    color: white;
    background-color: black;
}

.art {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}

.artimg {
    height: 360px;
    width: 100%;
}

@media (max-width: 1024px) {
    .artimg {
        height: 480px;
    }
}

.wcartimg {
    float: left;
}

.dcartimg {
    float: right;
}

.art-comm {
    position: relative;
    width: 122px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.about {
    overflow: hidden;
    background: black;
    width: 205px;
    height: 205px;
}

.aboutimg {
    width: 205px;
    height: 205px;
}

.perso {
    position: relative;
    z-index: 1;
}

body {
    background: none;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: white;
}

.comm-title {
    font-size: 20px;
    position: relative;
    top: -30px;
    margin-left: 50px;
}

.youtube {
    right: 20px;
    bottom: 80px;
}

.gbimg {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.barre {
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    width: 300px;
    background: grey;
    border: 2px solid grey;
    position: relative;
    top: -75px;
    height: 10px;
}

.barre:after {
    content: "";
    position: absolute;
    background: #3adb76;
    left: 0;
    top: 0;
    bottom: 0;
}

hr {
    width: 80%;
}

.item {
    line-height: 100%;
    height: 100%;
}

.item:hover {
    background: rgba(0,0,0,0.7);
}

.item:hover a {
    color: white;
}

.contour-text2 {
    width: 110px;
    margin-top: -45px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: rgba(0,0,0,1);
}

.rond3 {
    position: relative;
    z-index: 98;
    text-align: center;
    background: white;
    border: solid 10px darkgray;
    border-radius:100px;
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.img_user {
    width: 130px;
    height: 130px;
    background-color: black;
}

#back-button {
    margin-left: 20px;
    margin-top: 20px;
}

#comm {
    padding-left: 10px;
}

.like_dislike_img {
    width: 48px;
    height: 96px;
}

.like_dislike_img:hover {
    zoom: 1.1;
    margin-top: -6px;
}

#likes {
    color: #3adb76;
    margin-left: 296;
}

#dislikes {
    color: red;
}

.likes {
    position: absolute;
    right: 168px;
}

.dislikes {
    position: absolute;
    right: 120px;}

#likes, #dislikes {
    padding-top: 35px;
    font-weight: bold;
}

.like-dislike-button {
    position: relative;
    top: -100px;
}

.fb-xfbml-parse-ignore:hover {
    color: darkgray;
}

.fb-share-button {
    position: relative;
    top: 0px;
}

@media (min-width: 400px) {

    .fb-share-button {
        position: relative;
        top: 0px;
    }

    .IN-widget, .twitter-share-button {
        position: relative;
        top: 0px;
    }
}


@media (max-width: 1366px)
{
    .fb-share-button {
        position: relative;
        top: 0px;
    }
}

@media (max-width: 1360px) {

    .fb-share-button {
        position: relative;
        top: 0px;
    }

    .IN-widget, .twitter-share-button {
        position: relative;
        top: 0px;
    }
}

@media (min-width: 2560px) {
    .fb-share-button {
        position: relative;
        top: 0px;
    }
}

@media (max-width: 1024px) {

    #likes {
        margin-left: 400px;
    }
}

.barre[data-length="0"]:after { width: 0% }
.barre[data-length="1"]:after { width: 1% }
.barre[data-length="2"]:after { width: 2% }
.barre[data-length="3"]:after { width: 3% }
.barre[data-length="4"]:after { width: 4% }
.barre[data-length="5"]:after { width: 5% }
.barre[data-length="6"]:after { width: 6% }
.barre[data-length="7"]:after { width: 7% }
.barre[data-length="8"]:after { width: 8% }
.barre[data-length="9"]:after { width: 9% }
.barre[data-length="10"]:after { width: 10% }
.barre[data-length="11"]:after { width: 11% }
.barre[data-length="12"]:after { width: 12% }
.barre[data-length="13"]:after { width: 13% }
.barre[data-length="14"]:after { width: 14% }
.barre[data-length="15"]:after { width: 15% }
.barre[data-length="16"]:after { width: 16% }
.barre[data-length="17"]:after { width: 17% }
.barre[data-length="18"]:after { width: 18% }
.barre[data-length="19"]:after { width: 19% }
.barre[data-length="20"]:after { width: 20% }
.barre[data-length="21"]:after { width: 21% }
.barre[data-length="22"]:after { width: 22% }
.barre[data-length="23"]:after { width: 23% }
.barre[data-length="24"]:after { width: 24% }
.barre[data-length="25"]:after { width: 25% }
.barre[data-length="26"]:after { width: 26% }
.barre[data-length="27"]:after { width: 27% }
.barre[data-length="28"]:after { width: 28% }
.barre[data-length="29"]:after { width: 29% }
.barre[data-length="30"]:after { width: 30% }
.barre[data-length="31"]:after { width: 31% }
.barre[data-length="32"]:after { width: 32% }
.barre[data-length="33"]:after { width: 33% }
.barre[data-length="34"]:after { width: 34% }
.barre[data-length="35"]:after { width: 35% }
.barre[data-length="36"]:after { width: 36% }
.barre[data-length="37"]:after { width: 37% }
.barre[data-length="38"]:after { width: 38% }
.barre[data-length="39"]:after { width: 39% }
.barre[data-length="40"]:after { width: 40% }
.barre[data-length="41"]:after { width: 41% }
.barre[data-length="42"]:after { width: 42% }
.barre[data-length="43"]:after { width: 43% }
.barre[data-length="44"]:after { width: 44% }
.barre[data-length="45"]:after { width: 45% }
.barre[data-length="46"]:after { width: 46% }
.barre[data-length="47"]:after { width: 47% }
.barre[data-length="48"]:after { width: 48% }
.barre[data-length="49"]:after { width: 49% }
.barre[data-length="50"]:after { width: 50% }
.barre[data-length="51"]:after { width: 51% }
.barre[data-length="52"]:after { width: 52% }
.barre[data-length="53"]:after { width: 53% }
.barre[data-length="54"]:after { width: 54% }
.barre[data-length="55"]:after { width: 55% }
.barre[data-length="56"]:after { width: 56% }
.barre[data-length="57"]:after { width: 57% }
.barre[data-length="58"]:after { width: 58% }
.barre[data-length="59"]:after { width: 59% }
.barre[data-length="60"]:after { width: 60% }
.barre[data-length="61"]:after { width: 61% }
.barre[data-length="62"]:after { width: 62% }
.barre[data-length="63"]:after { width: 63% }
.barre[data-length="64"]:after { width: 64% }
.barre[data-length="65"]:after { width: 65% }
.barre[data-length="66"]:after { width: 66% }
.barre[data-length="67"]:after { width: 67% }
.barre[data-length="68"]:after { width: 68% }
.barre[data-length="69"]:after { width: 69% }
.barre[data-length="70"]:after { width: 70% }
.barre[data-length="71"]:after { width: 71% }
.barre[data-length="72"]:after { width: 72% }
.barre[data-length="73"]:after { width: 73% }
.barre[data-length="74"]:after { width: 74% }
.barre[data-length="75"]:after { width: 75% }
.barre[data-length="76"]:after { width: 76% }
.barre[data-length="77"]:after { width: 77% }
.barre[data-length="78"]:after { width: 78% }
.barre[data-length="79"]:after { width: 79% }
.barre[data-length="80"]:after { width: 80% }
.barre[data-length="81"]:after { width: 81% }
.barre[data-length="82"]:after { width: 82% }
.barre[data-length="83"]:after { width: 83% }
.barre[data-length="84"]:after { width: 84% }
.barre[data-length="85"]:after { width: 85% }
.barre[data-length="86"]:after { width: 86% }
.barre[data-length="87"]:after { width: 87% }
.barre[data-length="88"]:after { width: 88% }
.barre[data-length="89"]:after { width: 89% }
.barre[data-length="90"]:after { width: 90% }
.barre[data-length="91"]:after { width: 91% }
.barre[data-length="92"]:after { width: 92% }
.barre[data-length="93"]:after { width: 93% }
.barre[data-length="94"]:after { width: 94% }
.barre[data-length="95"]:after { width: 95% }
.barre[data-length="96"]:after { width: 96% }
.barre[data-length="97"]:after { width: 97% }
.barre[data-length="98"]:after { width: 98% }
.barre[data-length="99"]:after { width: 99% }
.barre[data-length="100"]:after { width: 100% }