#topmenu , #fp {
    z-index: 9999;
}

#topmenu li a {
    font-size: 14px;
}

#fp {
    width: 293px;
    background-color: rgba(0,0,0,0.7);
    border: 0px;
    margin: 0px;
    max-height: 400px;
    overflow: auto;
}

#fp label {
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#bar {
    height: 30px;
    width: 100%;
    background-color: black;
    margin-top: 0px;
    z-index: 101;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
   background-color: white;
    z-index: 9999;
}

.foot-bar {
    position: relative;
    right: 0px;
    height: 35px;
    width: 100%;
    background-color: black;
}

.login {
    padding: inherit;
    margin-top: -4px;
    font-weight: bold;
}

.logout {
    margin-top: -4px;
    font-weight: bold;
}

.logg {
    position: absolute;
    top: 300px;
    right: 0px;
}

@media (max-width: 1024px) {
    .logg {
        position: absolute;
        top: 190px;
        right: 0px;
    }
}

#logo {
    height: 60px;
    width: 300px;
    position: absolute;
    left: 10px;
    padding-top: 10px;
}

@media (max-width: 1200px) {
    #logo {
        height: 50px;
        width: 200px;
        padding-top: 20px;
        position: absolute;
        left: 10px;
    }
}

@media (max-width: 1000px) {
    #logo {
        height: 50px;
        width: 100px;
        padding-top: 20px;
        position: absolute;
        left: 10px;
    }
}

@media (max-width: 800px) {
    #logo {
        visibility: hidden;
    }
}


.icon {
    height: 25px;
    width: 25px;
    z-index: inherit;
}

.icon1 {
    position: absolute;
    right: 10px;
}

.icon2 {
    position: absolute;
    right: 35px;
}

.icon3 {
    position: absolute;
    right: 60px;
}

.icon4 {
    position: absolute;
    right: 85px;
}

.icon5 {
    position: absolute;
    right: 110px;
}
.fixMenu {
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
}

.fixCar {
    margin-top: 160px;
    left:0px;
    width: 100%;
}

.fixLog {
    position: absolute;
    top: 0px;
    right: 0px;
}

.fixLogo {

}

#slidtop {
    position: inherit;
    background-color:rgba(0, 0, 0, 0.3);
}

#mc {
    background-color: white;
}

.wc {
    margin-top: -5px;
    background-color: white;
}

.dc {
    margin-top: -5px;
    background-color: black;
    color: white;
}

.art {
    padding: 5px;
}

.comm {
    margin-bottom: 5px;
    color: black;
    text-align: center;
    background-color: white;
    border: solid 5px darkgray;
    border-radius: 70px;
    z-index: 99;
}

.wcimg {
    height: 400px;
    width: 49.73%;
}

#linkdin {
    margin-right: 10px;
}

.vig {
    height: 130px;
    width: 260px;
}

.vig1 {
    height: 425px;
    width: 850px;
}

.vigimg {
    height: 130px;
    width: 130px;
}

.vigimg1 {
    padding: inherit;
    height: 425px;
    width: 850px;
}

.tvig {
    color: transparent;
}

.vig:hover .tvig {
    height: 100%;
    width: 130px;
    margin-left: -25px;
    padding-top: 45px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.vig1:hover .tvig {
    height: 100%;
    padding-top: 45px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
}

.contour-text {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: inherit;
    position: relative;
    top: -20px;
    width: 260px;
    margin-left: -13.5px;
    overflow: hidden;
}

@media (max-device-width: 1024px) {
    .contour-text {
        margin-left: -3px;
    }

    .vig:hover .tvig {
        margin-left: -15px;
    }
}

.vignette {
    margin-top: 40px;
}

.menu a {
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.item {
    line-height: 100%;
    height: 100%;
}

.item:hover {
    background: rgba(0,0,0,0.7);
}

.item:hover a {
    color: white;
}

.checkbox1 {
    text-align: left;
    padding: 0px;
}

.checkbox1 input[type=checkbox] {
    float: left;
    text-align: left;
    margin-top: 10px;
}

.checkbox1 input [type=checkbox]:checked {
    content: "&#x2714;";
}

.villes {
    //border-right: 2px solid white;
    border-left: 2px solid white;
}

#button input[type=submit] {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 400;
    border: 2px solid white;
    position: relative;
    top:1px;
}


#SYC {
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

.WC_img, .DC_img {
    height: 8%;
    width: 50%;
    min-width: 300px;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#corps {
    position: relative;
    top: 0px;
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 10px 10px 20px black;
    margin-bottom: 110px;
}

#copyright_text {
    font-size: 16px;
    text-align: center;
    color: black;
}

.corpus {
    position: relative;
    top: 160px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: 10px 10px 20px black;
    margin-bottom: 110px;
}

#Article_title {
    margin-left: 35%;
    width: 30%;
}

.title {
    text-align: center;
}


@media (min-width: 1024px) {
    #loggin {
        margin-left: 15%;
    }
}

.cofd {
    height: 300px;
    width: 300px;
    z-index: 99;
}

.titreslide {
    position: relative;
    top: 10px;
    font-size: 32px;
    font-weight: 400;
}

.txth {
    font-size: 16px;
    font-weight: 500;
}

.wc_imgs {
    border: 10px solid white;
}

.dc_imgs {
    border: 10px solid black;
}

#slidtop li a {
    text-decoration: none;
    color: black;
}

.check {
    display: none;
    float: left;
    line-height: 16px;
    height: 16px;
    width: 10px;
    padding: 0px;
    margin: 0px;
}

.check p {
    color: #3adb76;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

.line a:focus .check {
    display: inline;
}

label {
    font-size: 42px;
    font-weight: 400;
    color: white;
}

input[type="checkbox"]:checked + label::before {
    content: '';
    position: relative;
    background: rgba(0, 0, 0, 0);
    top: 0px;
    left: -5px;
    border: 3px solid limegreen;
    border-top: none;
    border-right: none;
    transform: rotate(90deg);
    padding: 0px;
    margin: 0px;
}

input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

.cat {
    padding: inherit;
    margin: inherit;
    clear: both;
    float: left;
}

input[type="file"] {
    padding: 5px;
    margin: 0px;
}

.text-overflow-hidden p {
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-top: solid 5px darkgray;
    margin: inherit;
    height: 100px;
    padding: 10px;
}

.contour {
    border: inherit;
    padding: 0px; margin: 10px;
    box-shadow: 10px 10px 15px #646464;
}

.contour a {
    background-color: darkgray;
    border: solid 5px darkgray;
    color: black;
}

.contour a:hover {
    color: black;
}

.opt {
    color: black;
    font-size: 12px;
    font-weight: 400;
}

body {
    background: none;
}

.contact-bar {
    margin-top: 50px;
    background-color: darkgray;
    width: 100%;
    height: 20px;
}

.contact-title1 {
    font-size: 70px;
}

.contact-title2 {
    margin-top: 20px;
    font-size: 35px;
}

.rond {
    position: relative;
    z-index: 98;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    width:100px;
    height:100px;
    background: darkgray;
    border-radius:100px;
}

.logo {
    position: absolute;
    top: 155px;
    top: 158px;
    margin-left: 67px;
}

@media (max-width: 1024px) {
    .logo {
        margin-left: inherit;
        position: absolute;
        top: 88px;
    }
}

@media (max-width: 1024px) {
    .cofd {
        height: 190px;
        width: 190px;
    }
}

.message {
    background: rgba(0,255,0,0.5);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.err {
    background: rgba(255,0,0,0.7);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#WCDC_OF_THE_DAY {
    font-size: 38px;
    line-height: 40px;
    font-weight: 300px;
    color: white;
    z-index: 9999;
    position: relative;
    top: 400px;
}

#search-bar1 {
    border-radius: 5px;
    width: 200px;
    height: 30px;
    right: 100px;
}

#search-button1 {
    height: 30px;
    width: 80px;
    float: right;
    right: 5px;
    padding: inherit;
    margin-right: 10px;
    margin-left: 5px;
    border: solid white 2px;
}

#search-bar2 {
    border-radius: 5px;
    width: 200px;
    height: 30px;
    right: 80px;
}

#search-button2 {
    height: 30px;
    width: 80px;
    float: right;
    right: 10px;
    padding: inherit;
}

.search-bar {
    right: 0px;
    z-index: 102;
}

.search-bar1 {
    position: absolute;
    right: 80px;
}

.search-button1 {
    position: absolute;
    right: 10px;
}

.search-bar2 {
    position: absolute;
    top: 227px;
    right: 80px;
}

.search-button2 {
    position: absolute;
    top: 227px;
    right: 10px;
}

@media (max-width: 1025px) {
    .search-bar1 {
        position: absolute;
        right: 80px;
    }
    .search-button1 {
        position: absolute;
        right: 10px;
    }
}

.fixSearch {
    position: absolute;
}

.notif-btn {
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}

.hover-link-edit:hover, .hover-link-delete:hover {
    color: #000;
}

.fixButtonSelect {
    position: relative;
    top: 0px;
}

#new_mail {
    width: 290px;
}
