.logplace
{
    margin-right: auto;
    margin-left: auto;
}

#panel
{
    margin: 50px;

}

.login-screen
{
    background-color: #FFF;
    padding: 20px;
}

.app-title
{
    text-align: center;
    color: #777;
}

.app-tittle p
{
    font-size: 2em;
    position: absolute;
}

.login-form
{
    text-align: center;
}

.control-group
{
    margin-bottom: 10px;
}

input:focus
{
    border: 2px solid #3498DB;
    box-shadow: none;
}

.log
{
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 400;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 16px;
    line-height: 10px;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    display: block;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

.log:hover
{
    background-color: darkgray;
    color: black;
}

.login-link
{
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
}

.login-link:hover {
    color: black;
}

#loggin {
    margin-top: 100px;
}

.menu-centered p {
    font-weight: 400;
    height: 20px;
    line-height: 20px;
}


.login-field[required]:hover, input[required]:hover, input[required]:focus {
    /*border: 1px solid orange;*/
    box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5);
}

.login-field[required]:focus {
    box-shadow: inherit;
}

.login-field:focus:invalid {
    border: 1px solid red;
}

.login-field:valid {
    border: 1px solid green;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

input[type="date"]:focus:before, input[type="date"]:valid:before {
    content: "";
}

#champs_requis {
    font-size: 12px;
    font-weight: 200;
    float: left;
    margin-left: 0.5em;
    color: red;
}

.description {
    font-weight: bold;
    text-align: center;
}

.author {
    position: relative;
    bottom: 0px;
    text-align: center;
    margin: inherit;
    color: dodgerblue;
}

.commentary {
    margin: 30px;
    margin-bottom: 10px;
    height: auto;
    word-wrap: break-word;
}

.author_tof {
    margin: inherit;
    background-color: #0a0a0a;
    float: left;
    position: relative;
    top: -10px;
    left: -10px;
}

.commentary_box {
    min-height: 130px;
    height: auto;
    width: 100%;
    background: white;
    border: solid 10px darkgray;
    border-radius:100px;
    border-top-left-radius: 85px;
}